<!DOCTYPE html>
<html lang="en">
    <head>
    <title> miPet </title>
    <meta charset="utf-8">
    <meta name="description" content="TimelineJS example miPet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        
    <link rel="Shortcut Icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
        
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">    
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- script type="text/javascript" -->
        
    <!-- HTML5 shim, for IE6-8 support of HTML elements--><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
    
<body>

    <div class="container">
    	<div id="pet-info"></div>
    	<div id="events"></div>
    </div>

        







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"> </script>
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"> </script>
    <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"> </script>-->
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"> </script>
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"> </script>
    <script src="http://underscorejs.org/underscore-min.js"> </script>
    <script src="http://backbonejs.org/backbone-min.js"> </script>
    <script type="text/javascript" src="/static/js/models/models.js"> </script>
    <script type="text/javascript" src="/static/js/views/views.js"> </script>

    <script type="text/javascript">
        var pet = new Pet({id: {{pet_id}} });
        pet.fetch({
            success: function (data) {
                // Note that we could also 'recycle' the same instance of EmployeeFullView
                // instead of creating new instances
                var petView = new PetView({model: data});
				
            }
        });
    </script>


<!-- END Timeline Embed-->
</body>

</html>